In [1]:
import os 
import keras
import pandas as pd
os.chdir(r"E:\003 IBM CE\3. Artificial Intelligence\Mody\00 Assignments\Case Study\final_data")

Using TensorFlow backend.

In [5]:
from keras.preprocessing.image import load_img,img_to_array
from keras.applications.vgg16 import VGG16,preprocess_input,decode_predictions
import pathlib

In [6]:
model=VGG16()
output={}
data_dir=r"E:\003 IBM CE\3. Artificial Intelligence\Mody\00 Assignments\Case Study\final_data"
data_dir=pathlib.Path(data_dir)

for i in list(data_dir.glob("*")):
    image=load_img(f'{i}',target_size=(224,224))
    image=img_to_array(image)
    image=image.reshape(1,image.shape[0],image.shape[1],image.shape[2])
    image=preprocess_input(image)
    predictions=model.predict(image)
    label=decode_predictions(predictions)
    label=label[0][0]
    output.update({i:label})

WARNING:tensorflow:From C:\Users\sande\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From C:\Users\sande\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From C:\Users\sande\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From C:\Users\sande\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3976: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

WARNING:tensorflow:From C:\Users\sande\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:174: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From C:\Users\sande\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:181: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

In [12]:
df=pd.DataFrame(output,index=[0,'folder',2])
df=df.transpose()

In [14]:
df.head()

,0,folder,2
E:\003 IBM CE\3. Artificial Intelligence\Mody\00 Assignments\Case Study\final_data\109443289_b3edb30465_o.jpg,n03642806,laptop,0.520752
E:\003 IBM CE\3. Artificial Intelligence\Mody\00 Assignments\Case Study\final_data\109877767_ff8f921b95_o.jpg,n04536866,violin,0.256565
E:\003 IBM CE\3. Artificial Intelligence\Mody\00 Assignments\Case Study\final_data\112568527_4afd965e6d_o.jpg,n02085620,Chihuahua,0.726291
E:\003 IBM CE\3. Artificial Intelligence\Mody\00 Assignments\Case Study\final_data\1322285840_13371404fb_o.jpg,n02690373,airliner,0.967224
E:\003 IBM CE\3. Artificial Intelligence\Mody\00 Assignments\Case Study\final_data\145039929_c699b8f866_o.jpg,n02106662,German_shepherd,0.956191

In [15]:
df.drop([0,2],axis=1,inplace=True)

In [16]:
df.head()

                                                             folder
E:\003 IBM CE\3. Artificial Intelligence\Mody\0...           laptop
E:\003 IBM CE\3. Artificial Intelligence\Mody\0...           violin
E:\003 IBM CE\3. Artificial Intelligence\Mody\0...        Chihuahua
E:\003 IBM CE\3. Artificial Intelligence\Mody\0...         airliner
E:\003 IBM CE\3. Artificial Intelligence\Mody\0...  German_shepherd

In [20]:
file=[]

for i in df.index:
    file.append(str(i).split("data\\")[-1])

In [23]:
df['file']=file

In [24]:
df.head()

,folder,file
E:\003 IBM CE\3. Artificial Intelligence\Mody\00 Assignments\Case Study\final_data\109443289_b3edb30465_o.jpg,laptop,109443289_b3edb30465_o.jpg
E:\003 IBM CE\3. Artificial Intelligence\Mody\00 Assignments\Case Study\final_data\109877767_ff8f921b95_o.jpg,violin,109877767_ff8f921b95_o.jpg
E:\003 IBM CE\3. Artificial Intelligence\Mody\00 Assignments\Case Study\final_data\112568527_4afd965e6d_o.jpg,Chihuahua,112568527_4afd965e6d_o.jpg
E:\003 IBM CE\3. Artificial Intelligence\Mody\00 Assignments\Case Study\final_data\1322285840_13371404fb_o.jpg,airliner,1322285840_13371404fb_o.jpg
E:\003 IBM CE\3. Artificial Intelligence\Mody\00 Assignments\Case Study\final_data\145039929_c699b8f866_o.jpg,German_shepherd,145039929_c699b8f866_o.jpg

In [25]:
df.folder.unique()

array(['laptop', 'violin', 'Chihuahua', 'airliner', 'German_shepherd',
       'church', 'tabby', 'Arabian_camel', 'acoustic_guitar'],
      dtype=object)

In [32]:
for i in df.folder.unique():
    j=str(i).split("_")[0]
    j=str(j).lower()
    os.mkdir(fr"E:\003 IBM CE\3. Artificial Intelligence\Mody\00 Assignments\Case Study\{j}")

In [33]:
from PIL import Image

for i,j in zip(df.file,df.folder):
    j=str(j).split('_')[0] 
    j=str(j).lower() 
    img=Image.open(fr"E:\003 IBM CE\3. Artificial Intelligence\Mody\00 Assignments\Case Study\final_data\{i}")
    img.save(fr"E:\003 IBM CE\3. Artificial Intelligence\Mody\00 Assignments\Case Study\{j}{i}")